BODY { background-color: #FFFFFF }

A { text-decoration: none; color #6666FF; }
A:visited { text-decoration: none; color: #6666AA; }
A:link { text-decoration: none; color: #6666DD; }
A:active { text-decoration: none; color: #6666DD; }
#A:hover { text-decoration: none; color: #FF6666 }
A:hover { text-decoration: none; color: #AA6666 }
A:mail { text-decoration: none; color: #6666FF; font-weight: bold }
OL,UL,P,BODY,TD,TR,TH,FORM,SPAN { font-family: arial,helvetica,sans-serif;color: #333333 }
H1,H2,H3,H4,H5,H6 { font-family: arial,helvetica,sans-serif }
PRE,TT { font-family: courier,sans-serif }

SPAN.center { text-align: center }
SPAN.boxspace { font-size: 2pt; }

A.maintitlebar { color: #FFFFFF;  }
A.bottombar { color: #FFFFFF; text-decoration: none;  }
A.sortbutton { color: #FFFFFF; text-decoration: none; }
A.menus { color: #6666DD; text-decoration: none; }
A.tabs { color: #000000; text-decoration: none; }
A.date { color: #ff0000; text-decoration: none; }
SPAN.alignright { text-align: right }
SPAN.maintitlebar { font-size: 10pt; color: #FFFFFF; font-weight: bold  }
SPAN.bottombar { font-size: 10pt; color: #FFFFFF; font-weight: bold }
SPAN.titlebar { text-align: center; font-size: 10pt; color: #FFFFFF; font-weight: bold }
TD.featurebox { font-size: small; }
TD.newsbox { font-size: 8pt; }
TD.menus { color: #000000; }
