Source: gri-cookbook
Section: math
Priority: optional
Maintainer: Peter S Galbraith <psg@debian.org>
Standards-Version: 3.0.0

Package: gri-cookbook
Architecture: all
Depends: ${shlibs:Depends}
Description: A cookbook of Gri recipes
 This cookbook gives practical examples of Gri programming, with 
 few explanations.
 .
 This is a packaged version of the online version available at:
   http://www.phys.ocean.dal.ca/~kelley/gri/cookbook
