#!/usr/bin/make -f
# -*- Makefile -*-
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Cristoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: 
	dh_testdir
	$(MAKE) 

clean:
	dh_testdir
	dh_testroot
	-$(MAKE) clean
	dh_clean

install: 
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs
	$(MAKE) install_html_tree TARGETDIR=debian/tmp/usr/doc/gri-cookbook

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
#	dh_installmenu
	dh_installchangelogs 
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary
